<div class="status">
  <mat-card class="d">
    <mat-card-header>
      <mat-card-title
        >Public Address :
        0xa6455803915297DBB51655af95D7A71aE277E169</mat-card-title
      >
      <mat-card-title style="margin: 6px;">
        Total Games: 10 <br />
        Wins: 7 <br />
        Loss: 3</mat-card-title
      >
    </mat-card-header>
    <mat-card-content> </mat-card-content>
    <mat-card-actions>
      <button (click)="newPlayer()" mat-raised-button color="primary">
        New User Claim
      </button>
      <button mat-raised-button color="primary">Start Battle</button>
    </mat-card-actions>
  </mat-card>
</div>
