<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Transaction Hash
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Oponenet Address</p>
    <p>Game Statics</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Transaction Hash
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Oponenet Address</p>
    <p>Game Statics</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Transaction Hash
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Oponenet Address</p>
    <p>Game Statics</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Transaction Hash
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Oponenet Address</p>
    <p>Game Statics</p>
  </mat-expansion-panel>
</mat-accordion>
